:root {
  --bgcolor: #F4F6FA;
  --textcolor: #000000;
  --textcolor2: #637283;
  --brr: 24px;
  --fs: 16px;
  --smallfs: 14px;
  font-size: 10px;
}

@import url(./assets/styles/Header.css);
@import url(./assets/styles/SectionOne.css);
@import url(./assets/styles/Slider.css);

@font-face {
  font-family: 'Onest';
  src: url('./assets/fonts/Onest/Onest-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Unbounded';
  src: url('./assets/fonts/Unbounded/Unbounded-Bold.woff2') format('woff2');
}

.sprite {
  background-image: url(./assets/sprite.png);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest';
}

a {
  text-decoration: none;
  color: black;
}

main {
  height: 200vh;
}

.lcontainer {
  width: 100%;
  padding: 0 60px;
}

.outer__container {
  width: 100%;
  padding: 0 25px;
}

.inner__container {
  width: 100%;
  padding: 0 35px;
}
